<!-- Friendship link -->
<div class="widget-wrap">
  <h3 class="widget-title">友情链接</h3>
  <div class="widget">
  <ul class="entry">
  <li><a href="http://www.dtgames.top/" target="_blank" title="进击的大头">进击的大头_老巢</a>：Keep and carry on.</li>
  <li><a href="http://keepmovingxin.com/" target="_blank" title="KeepMoving">KeepMoving</a>：书写游戏人生</li>
  </ul>
  </div>
</div>
<!-- End Friendship link -->